*.iml
.gradle
/.idea
/.idea/vcs.xml
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

bin/
gen/

*.apk
*.ap_
*.dex
*.class
proguard/
*.log
.navigation/
captures/
.idea/
/.idea/

# User-specific configurations
.idea/tasks.xml
.idea/.name
.idea/encodings.xml
.idea/scopes/scope_settings.xml
*.iml

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.jks
*.json